if ! has pre-commit; then
  log_status 'Warning: pre-commit not found. Hooks will not run.'
else
  pre-commit install
fi

if ! has verchew; then
  log_status 'Warning: verchew not found. Envronment checks will not run.'
else
  verchew --exit-code
  watch_file verchew.ini
fi

_gh_config_file=${GH_CONFIG_DIR:-$HOME/.config/gh}/hosts.yml
GH_USER=$(yq eval '."github.com".user' $_gh_config_file 2> /dev/null)
if [[ -z $GH_USER || $GH_USER == 'null' ]]; then
  log_status "Warning: unable to determine Github username. Run 'gh auth login'."
else
  export GH_USER
fi
